body{
color:aqua;
background-color: pink;
}

.heading{
width:80%;
font-size:30px ;
}

.items{
 color:red;
 font-size:22px;
}

#camera , #result{
border:5px solid lime;
width:400px;
height:400px;
}

#family_name , #image_accuracy{
color: green;    
}